@tailwind base;
@tailwind components;
@tailwind utilities;

.ingredients-wrapper {
	padding: 20px;
	display: grid;
	grid-template-columns: 200px 200px 200px;
	gap: 20px;
}

.ingredient {
	padding: 20px;
	border: 1px solid black;
}
